.place__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .place__title-wrapper {
    align-self: flex-start;
    margin:  0 16px;
  }
}
