.cover__background {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 1184px;
  min-height: 740px;
  text-decoration-line: none;
  color: white
}

.cover__background::before {
  background-color: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content:"";
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1184px) {
  .cover__background {
    min-width: 1024px;
    min-height: 640px;

  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-width: 873px;
    min-height: 545.6px;
  }
}


@media screen and (max-width: 872px) {
  .cover__background {
    min-width: 722px;
    min-height: 451.25px;
  }
}

@media screen and (max-width: 721px) {
  .cover__background {
    min-width: 571px;
    min-height: 356.8px;
  }
}

@media screen and (max-width: 572px) {
  .cover__background {
    min-width: 421px;
    min-height: 263.1px;
  }
}

@media screen and (max-width: 420px) {
  .cover__background {
    min-width: 320px;
    min-height: 200px;
  }
}
