.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px 48px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 25px 24px 25px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 24px 16px;
  }
}
